body{
    height: 100%;
    width: 100%;
    
}


.menu-principal li{
   display: inline-block;

}

main{
    position: relative;
    margin: 0 auto;
    
}

.redes-sociais{
    float: center;
    padding: 6px;
    width: 100%;
    height: 100%;
}

.facebook, .insta, .twitter, .in{
    padding: 30px;
    
}


div {
    text-align: center;
}

.home, .sobre, .contatos, .blog{
    padding: 30px;
    font-size: 40px;
    margin-top: 60x;
}

.menu ul {
    padding:0px;
    margin:0px;
    background-color:black;
    list-style:none;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 30px;
}

.menu ul li { 
    display: inline; 
}

.menu ul li a {
     padding: 2px 10px;
    display: inline-block;
    background-color:black;
    color: #ffffff;
    text-decoration: none;
    border-bottom:3px solid black;
    text-align: center;
    }

    .menu ul li a:hover {
        background-color: #ffffff;
        color: black;
        border-bottom:3px solid white;
    }

nav{
    text-align: center;
    margin-bottom: 50px;
}

.titulo{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

div h2{
    font-size:20px;
    padding: 3%;
}

div h3{
    background-color: #DCDCDC;
    padding: 25px;
	border-bottom: 5px solid black;
	font-size: 20px;
    text-transform: uppercase;
    margin-top: 5%;
    
}

div p{
    text-align: left;
    font-size: 20px;
    padding-left:  20%;
    padding-top: 3%;
    padding-right: 20%;
 

}

footer{
    background-color: #000;
	color: #F2FFFC;
	clear: both;
	position: fixed;
	bottom: 0;
	left: 0;
    width: 100%;
    font-size: 20px;
    width: 100%;
    margin-top: 2.4em;
    margin-bottom: 2.4em;
    clear: both;
}

cite p{
    font-size: 10px;
    text-align: justify;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }